body {
  overflow-x: hidden;
  padding: 3% 7%;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(media/folhaPreta/folhaPreta.png);
  background-blend-mode:difference;
  background-size: cover;
  border: 10px solid white;
  border-radius: 5%;
  position: relative;
}

div {
  display: flex;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.userInfo {
  font-size: 30px;
  word-spacing: 3px;
  letter-spacing: 5px;
}

#info {
  filter: opacity(0.75);
  margin-left: 3%;
  padding-left: 3%;
  background-color: transparent;
  font-size: 30px;
  color: white;
  width: 100%;
  border: transparent;
  border-bottom: 2px solid white;
  word-spacing: 3px;
  letter-spacing: 5px;
}

.infonIcon {
  justify-content: space-between;
  height: fit-content;
}

.playerIcon {
  display: flex;
  justify-content: center;
  width: 50%;
}

.playerIcon img{
  filter: drop-shadow(20px 15px 10px #000000);
  width: 500px;
  height: 500px;
  border: white double 10px;
  border-radius: 50%;
}

.basicInfo {
  filter: drop-shadow(20px 10px 5px #000000);
  flex-direction: column;
  width: 60%;
  justify-content: flex-start;
  justify-content: center;
}

.playerStats {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}
.stat {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 5%;
  filter: opacity(0.85);
}

.stat img {
  height: 175px;
  width: auto;
  filter: invert(1);
}

.statName{
  position: absolute;
  bottom: 130px;
  left: 40%;
}

.number1 {
  font-size: 30px;
  position: absolute;
  bottom: 32px;
  right: 69px;
  filter: opacity(0.75);
}

.number2 {
  font-size: 50px;
  position: absolute;
  bottom: 38px;
  right: 130px;
  filter: opacity(0.75);
}

.perks_skillPage{
  position: relative;
  display: flex;
  flex-direction: row;
}

.playerPerks {
  position: relative;
  width: auto;
  height: fit-content;
  filter: drop-shadow(20px 10px 5px #000000);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.perk {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 1%;
  filter: opacity(0.75);
}

.perk img {
  height: 190px;
  width: 190px;
  filter: invert(1);
}

.number3 {
  font-size: 50px;
  position: absolute;
  top: 60px;
  left: 70px;
}

.skillPage img {
  filter: invert(1);
  filter: brightness(50);
}

.skillPage {
  filter: drop-shadow(25px 20px 6px #000000);
  display: flex;
  height:fit-content;
  position: static;
}

.skills{
  display: flex;
  width: fit-content;
  position: relative;
  height: fit-content;
  color: white;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  filter: opacity(0.8);
  word-spacing: .5px;
  letter-spacing: 3px;
}

.individualSkill {
  display: flex;
  position: relative;
  width: 315px;
  justify-content: space-between;
  bottom: 555px;
  font-size: 23px;
}

.userSkills {
  text-align: end;
  position: relative;
  display: flex;
  font-size: 22px;
  width: 35px;
  height: fit-content;
  background-color: transparent;
  border: none;
  color: white;
}

.skillsLine{
  position: relative;
  border-left: 100px solid white;
  border-top: 2px solid white;
  border-radius: 5px;
  bottom: 555px;
}

.perks_attacks{
  display: flex;
  position: relative;
  flex-direction: column;
}

.attacksPage {
  display: flex;
  position: relative;
  justify-content: center;
  filter: drop-shadow(25px 20px 6px #000000);
  
}

.attacks {
  filter: opacity(0.75);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 230px;
}

.attacks img {
  height: 400px;
  filter: invert(1);
  filter: brightness(50);
}


.halfDivider {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 350px;
}

.firstHalfAttacks {
  display: flex;
  position: relative;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}

.secondHalfAttacks {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}

.attackItems {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  max-width: fit-content;
}

#attackItem {  
  display: flex;
  position: relative;
  font-size: 27px;
  height: fit-content;
  background-color: transparent;
  border: none;
  color: white;
  letter-spacing: 2px;
  width: 260px;
  margin-left: 17%;
}

.toHitAmount {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  align-items: end;
  width: 25%;
  margin-right: 5%;
}

#toHitAmount {
  text-align: end;
  position: relative;
  display: flex;
  font-size: 27px;
  height: fit-content;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%
}

#attackDice {
  display: flex;
  position: relative;
  font-size: 27px;
  height: fit-content;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 5%;
  width: 75%;
}

.equipmentFeaturesSpells {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: flex-start;
  height: 300px;
  filter: opacity(.7);
}

.equipmentTable {
  bottom: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 3%;
}

.equipmentTable img {
  height: 500px;
  width: 400px;
  filter: invert(1);
  filter: brightness(50);
}

.equipments{
  display: flex;
  position: relative;

}

#equipments {
  display: flex;
  position: relative;
  bottom: 440px;
  margin: 0 10%;
  
  min-width: 80%;
  width: 390px;
  max-width: 390px;

  min-height: 400px;
  height: 400px;
  max-height: 400px;

  background-color: transparent;
  border: none;
  color: white;

  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  word-spacing: 1px;
  
}

.featuresTable {
  bottom: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 3%;
}

.featuresTable img {
  height: 800px;
  filter: invert(1);
  filter: brightness(50);
}

.features{
  display: flex;
  position: relative;

}

#features {
  display: flex;
  position: relative;
  bottom: 730px;
  left: 5px;
  margin: 0 10%;
  
  min-width: 80%;
  width: 432px;
  max-width: 432px;

  min-height: 670px;
  height: 670px;
  max-height: 670px;

  background-color: transparent;
  border: none;
  color: white;

  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.spellsTable {
  bottom: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.spellsTable img {
  height: 800px;
  filter: invert(1);
  filter: brightness(50);
}

.spells{
  display: flex;
  position: relative;

}

#spells {
  display: flex;
  position: relative;
  bottom: 730px;
  margin: 0 10%;
  right: 5px;
  
  min-width: 80%;
  width: 432px;
  max-width: 432px;

  min-height: 670px;
  height: 670px;
  max-height: 670px;

  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);

  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 3px;
}