body {
  padding: 5% 7%;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(media/folhaPreta/folhaPreta.png);
  background-blend-mode:difference;
  background-size: cover;
  border: 10px solid white;
  border-radius: 5%;
}

div {
  display: flex;
}

.userInfo {
  font-size: 30px;

}

#info {
  margin-left: 3%;
  background-color: transparent;
  font-size: 30px;
  color: white;
  width: 100%;
  border: transparent;
  border-bottom: 2px solid white;
}

.infonIcon {
  justify-content: space-between;
  height: fit-content;
}

.playerIcon img{
  filter: drop-shadow(20px 15px 10px #000000);
  width: 500px;
  height: 500px;
  border: white double 10px;
  border-radius: 50%;
}

.basicInfo {
  filter: drop-shadow(20px 10px 5px #000000);
  flex-direction: column;
  width: 60%;
  justify-content: flex-start;
  justify-content: center;
}

.playerStats {
  display: flex;
  margin-top: 5%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.stat {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 5%;
}

.stat img {
  height: 175px;
  width: auto;
  filter: invert(1);
}

.statName{
  position: absolute;
  bottom: 130px;
  left: 40%;
}

.number1 {
  font-size: 30px;
  position: absolute;
  bottom: 32px;
  right: 69px;
}

.number2 {
  font-size: 50px;
  position: absolute;
  bottom: 38px;
  right: 130px;
}
.playerPerks {
  filter: drop-shadow(20px 10px 5px #000000);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.perk {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 5%;
}

.perk img {
  height: 200px;
  width: 200px;
  filter: invert(1);
}

.number3 {
  font-size: 50px;
  position: absolute;
  bottom: 70px;
  right: 78px;
}

.extras {
  display: flex;
  position: relative;
}

.skillPage img {
  filter: invert(1);
  filter: brightness(50);
}

.skillPage {
  filter: drop-shadow(25px 20px 6px #000000);
  display: flex;
  position: relative;
  width: 27%;
  height:fit-content;
}

.skills{
  top: 60px;
  right: 350px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  color: white;
}
.individualSkill {
  display: flex;
  position: relative;
  width: 315px;
  justify-content: space-between;
}

#userSkills {
  text-align: end;
  position: relative;
  display: flex;
  font-size: 22px;
  width: 35px;
  height: fit-content;
  background-color: transparent;
  border: none;
  color: white;
}